h1 {
  color: rgb(21, 21, 52);
}
p{
  color: black;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: hsl(248, 87%, 25%);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 30px;
  text-decoration: none;
  font-size: 150%
}

li a:hover {
  background-color: hsl(248, 91%, 69%);
}

div {
  margin: auto; 
  display: flex;
  flex-direction: column; 
  align-items: center; 
  text-align: center;}
    
h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  font-weight:bold;}

p {
  color: rgb(37, 36, 36); 
  margin: unset; 
  display: flex; 
  text-align: center; 
  padding: 10%; 
  background-color: azure;}